@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "Forget Password";
}

<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Forget Password</h2>
                            <span>Please login using account details below.</span>
                        </div>
                        <div class="login-form">
                            @if (TempData["EmailSent"] == null)
                            {
                                <form method="post">
                                    <div class="login-form">
                                        <h4 class="login-title">Customer Forget Password</h4>
                                        <div class="row">
                                            <div class="col-12 mb--20">
                                                <label for="email">Email</label>
                                                <input class="mb-0 form-control" asp-for="Email" type="email" id="email" placeholder="Enter Your Email Address Here..">
                                                <span class="text-danger" asp-validation-for="Email"></span>
                                            </div>
                                            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                            <div class="col-md-12">
                                                <button type="submit" class="btn btn-outlined">Send email</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            }
                            else
                            {
                                <h2 class="text-success">Check your email box to reset password</h2>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
