
@{
    ViewData["Title"] = "ForgetPassword";
}
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "reset";
}

<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>reset password</h2>
                            <span>Please login using account detail bellow.</span>
                        </div>
                        <div class="login-form">
                        
                                <form method="post">
                                    <h4 class="login-title">Reset Password</h4>
                                    <div class="row">
                                        <div class="col-12 mb--20">
                                            <label for="email">New Passord</label>
                                            <input class="mb-0 form-control" asp-for="NewPassword" id="email" placeholder="Enter Your New Password..">
                                            <span class="text-danger" asp-validation-for="NewPassword"></span>
                                        </div>

                                        <div class="col-lg-12 mb--20">
                                            <label for="password">Confirm New Password</label>
                                            <input asp-for="ConfirmNewPassword" class="mb-0 form-control" type="password" id="password" placeholder="Enter your confirm password">
                                            <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                        </div>
                                        <input type="hidden" name="email" value="@TempData["email"]" />
                                        <input type="hidden" name="token" value="@TempData["token"]" />
                                        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                        <div class="button-box">
                                           
                                            <button type="submit" class="default-btn">Reset Password</button>
                                        </div>
                                        </div>
                                  </form>                     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>