@model List<AppUser>
@{
    ViewData["Title"] = "Users";
}

<section class="breadcrumb-section">
    <h2 class="sr-only">Users</h2>
    <div class="container">
        <div class="breadcrumb-contents">
           
        </div>
    </div>
</section>
<main class="inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 order-lg-2">
                <ul class="list-group">
                    @foreach (var item in Model)
                    {
                        <li data-id="@item.Id" class="list-group-item" style="color:@(item.ConnectionId!=null?"green":"black")"><span></span> @item.FullName</li>
                    }
                </ul>
            </div>
        </div>
    </div>
</main>