@model Tag
@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tags</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            Create
        </a>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form class="user" asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label for="date">Name</label>
                    <input asp-for="Name" class="form-control" id="date" placeholder=" ">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>

                <button class="btn btn-primary" type="submit">
                    Edit Tag
                </button>
            </form>
        </div>
    </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptPartials");
}
