@model CourseViewModel

<div class="row" id="searchResultsList">
    @if (Model.Courses.Count == 0)
    {
        <p>No courses found.</p>
    }
    else
    {
        @foreach (var item in Model.Courses)
        {
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course mb-70">
                    <div class="course-img">
                        <a asp-action="detail" asp-route-id="@item.Id">
                            <img src="~/img/course/@item.Img" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">@item.Name</a></h3>
                        <p>@item.Desc</p>
                        <a class="default-btn" asp-action="detail" asp-route-id="@item.Id">read more</a>
                    </div>
                </div>
            </div>
        }
    }
</div>