@model Teacher
@{
    ViewData["Title"] = "Create";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Teachers</h1>
       
    </div>
        <div class="row">
            <div class="col-md-8 mx-auto">
                <form class="user" asp-action="create" method="post" enctype="multipart/form-data">
                    <div class="form-box">

                        <div class="form-group">
                            <label for="Name">Full Name</label>
                            <input asp-for="FullName" class="form-control" id="Name" placeholder=" ">
                            <span class="text-danger" asp-validation-for="FullName"></span>
                        </div>

                        <div class="form-group">
                            <label for="position">Position</label>
                            <input asp-for="Position" class="form-control" id="position">
                            <span class="text-danger" asp-validation-for="Position"></span>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label for="ins">Instagram URL</label>
                                <input asp-for="InstagramUrl" class="form-control" id="ins">
                                <span class="text-danger" asp-validation-for="InstagramUrl"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="link">LinkedIn URL</label>
                                <input asp-for="LinkEdinUrl" class="form-control" id="link">
                                <span class="text-danger" asp-validation-for="LinkEdinUrl"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="pint">Pinterest URL</label>
                                <input asp-for="PinterestUrl" class="form-control" id="pint">
                                <span class="text-danger" asp-validation-for="PinterestUrl"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="ving">Ving URL</label>
                                <input asp-for="VingUrl" class="form-control" id="ving">
                                <span class="text-danger" asp-validation-for="VingUrl"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label for="event">Events</label>
                                <select asp-for="EventIds" class="form-control" id="event" multiple asp-items="@(new SelectList(ViewBag.Events, nameof(Event.Id), nameof(Event.Name)))"></select>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="Description">Description</label>
                                <input asp-for="Desc" class="form-control" id="Description">
                                <span class="text-danger" asp-validation-for="Desc"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="deg">Degree</label>
                            <input asp-for="Degree" class="form-control" id="deg">
                            <span class="text-danger" asp-validation-for="Degree"></span>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 form-group">
                                <label for="exp">Experience</label>
                                <input asp-for="Experience" class="form-control" id="exp">
                                <span class="text-danger" asp-validation-for="Experience"></span>
                            </div>
                            <div class="col-md-6 form-group">
                                <label for="fac">Faculty</label>
                                <input asp-for="Faculty" class="form-control" id="fac">
                                <span class="text-danger" asp-validation-for="Faculty"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                <label for="lang">Language Percent</label>
                                <input asp-for="LanguagePercent" class="form-control" id="lang">
                                <span class="text-danger" asp-validation-for="LanguagePercent"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="tl">Team Leader Percent</label>
                                <input asp-for="TeamLeaderPercent" class="form-control" id="tl">
                                <span class="text-danger" asp-validation-for="TeamLeaderPercent"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="inv">Innovation Percent</label>
                                <input asp-for="InnovationPercent" class="form-control" id="inv">
                                <span class="text-danger" asp-validation-for="InnovationPercent"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                <label for="dp">Development Percent</label>
                                <input asp-for="DevelopmentPercent" class="form-control" id="dp">
                                <span class="text-danger" asp-validation-for="DevelopmentPercent"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="cp">Communication Percent</label>
                                <input asp-for="CommunacationPercent" class="form-control" id="cp">
                                <span class="text-danger" asp-validation-for="CommunacationPercent"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="des">Design Percent</label>
                                <input asp-for="DesignPercent" class="form-control" id="des">
                                <span class="text-danger" asp-validation-for="DesignPercent"></span>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-4 form-group">
                                <label for="email">Email</label>
                                <input asp-for="Email" class="form-control" id="email">
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="ph">Phone</label>
                                <input asp-for="Phone" class="form-control" id="ph">
                                <span class="text-danger" asp-validation-for="Phone"></span>
                            </div>
                            <div class="col-md-4 form-group">
                                <label for="sy">Skype</label>
                                <input asp-for="Skype" class="form-control" id="sy">
                                <span class="text-danger" asp-validation-for="Skype"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="imgInput">Image</label>
                            <input asp-for="ImageFile" class="form-control imgInput" id="imgInput" placeholder=" ">
                            <div class="preview-box mt-2">
                                <img width="200" class="previewImg" />
                            </div>
                            <span class="text-danger" asp-validation-for="ImageFile"></span>
                        </div>

                        <button class="btn btn-primary" type="submit">Create Teacher</button>
                    </div>
                </form>

            </div>
        </div>
</div>

@section scripts {
    @Html.Partial("_ValidationScriptPartials");
}